alias ls='ls --color=auto -hlF'
alias ll='ls'

#---xbps
alias i='doas xbps-install -S'
alias u='i; doas xbps-install -u xbps; doas xbps-install -u'
alias q='doas xbps-query -Rs'
alias r='doas xbps-remove -R'

## general
alias cls=clear
alias pwroff='doas poweroff'
alias reboot='doas reboot'
alias rd='doas rm -rf'
alias v='vim $(fzf)'
alias ad='mocp $(fzf --query ".mp3")'
alias vd='mpv $(fzf --query ".mp4")'
alias ph='sxiv $(fzf --query ".jpg")'
alias size='du -hc --max-depth=1'
